<!DOCTYPE html>
<html>
    <head>
        <title>osu! Stream Background</title>
<%- include('css') %>
    </head>
    <body>
<%- include('nav', {page: 'index'}) %>
            <h2>Welcome to osu! Stream Background, you may navigate using the top bar.</h2>
            <p>If this is your first time using the program, please go to the config tab and set up the program according to the docs.</p>
            <hr>
            <h4>Current Image:</h4>
            <% if (image) { %>
            <a href="<%= image %>"><img src="<%= image %>" height="200"></a>
            <% } else { %>
            <p>No image currently showing</p>
            <% } %>
            <hr>
            <p>There are <%= queueLength || '0' %> Images in the queue</p>
            <hr>
            <p><%= mods.length.toString() || '?' %> Moderators are registered to whisper</p>
            <%= mods %>
            <hr>
            <a class="btn btn-secondary" href="/submit?type=panic">Panic</a>
            <a class="btn btn-main" href="/submit?type=exit">Exit Program</a>
        </div>
        <br>
    </body>
</html>